*{
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
u{
    color: orangered;
    text-shadow: 
    0 0 1px orange,
    0 0 100px orange,
    0 0 50px orange;
}
menu{
    background-color: rgb(0, 0, 0);
    color: orange;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 20px 0;
    border-bottom: 2px solid orange;
}
a:hover{
    background-color: rgba(230, 138, 27, 0.8);
    color: rgb(0, 0, 0);
    backdrop-filter: blur(100px);
    box-shadow: 
    0 0 10px rgba(255, 140, 0, 0.5),
    0 0 20px rgba(255, 140, 0, 0.5),
    0 0 40px rgba(255, 140, 0, 0.5);
}
.znole{
    width: 20%;
    border-radius: 10%;
    text-align: start;
    border-style: groove;
    
}
.znole:hover{
    cursor: pointer;
    background-color: rgb(240, 108, 20);
    transform:scale(1.1);
    box-shadow: 0px 0px 25px 10px rgba(218, 142, 44, 0.8);
}
footer{
    text-align:center;
    padding:20px;
    margin-top:50px;
    border-top:2px solid orange;
}
